#header {
    transition: all 0.5s;
    background: #fff;
    z-index: 997;
    padding: 15px 0;
    border-bottom: 1px solid #e6f2fb;
  }
  #header.header-scrolled {
    border-color: #fff;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
  }
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: "Cairo", sans-serif;
  }
  #header .logo a {
    color: #16507b;
  }
  #header .logo img {
    max-height: 40px;
  }
  @media (max-width: 992px) {
    #header .logo {
      font-size: 28px;
    }
  }


  #hero {
    width: 100%;
    position: relative;
  }

  #hero .container {
    padding-top: 80px;
  }
  #hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 600;
    line-height: 72px;
    color: #124265;
  }
  #hero h2 {
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 22px;
  
  }
  #hero .btn-get-started {
    font-weight: 600;
    font-size: 17px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #2487ce;
    text-decoration: none;
  }
  #hero .btn-get-started:hover {
    background: #3194db;
  }
  
  #hero .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  #hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: #2487ce;
    transition: 0.3s;
  }

  #hero .icon-box .description {
    /* font-family: "Tajawal", sans-serif; */
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  #hero .icon-box .icon {
    margin-bottom: 40px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
  }
  #hero .icon-box:hover {
    transform: scale(1.08);
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (max-height: 800px) {
    #hero {
      height: auto;
    }
  }
  @media (max-width: 992px) {
    #hero {
      height: auto;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  

  section{
    padding: 80px 0;
    overflow: hidden;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #124265;
  }
  
.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    margin-bottom: 10px;
    text-align: center
}

.counter-box p {
    font-family: "Cairo", sans-serif;
    margin: 5px 0 0;
    padding: 5px;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #2487ce
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}



  
#footer {
    font-family: "Cairo",   sans-serif;
    color: #444444;
    font-size: 14px;
    background: #f8fbfe;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
  }
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2487ce;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .social-links a:hover {
    background: #3194db;
    color: #fff;
    text-decoration: none;
  }
  .footer-wrapper
    {
        display: flex;
        padding-bottom: 1rem;
        justify-content: space-between;
        align-items: center;
    }