@font-face {
  font-family: rabar;
  src: url(../assets/fonts/rabar.ttf);
}


@font-face {
  font-family: Noto;
  src: url(../assets/fonts/noto.ttf);
}

@font-face {
  font-family: Nashka;
  src: url(../assets/fonts/nashka.ttf);
}

@font-face {
  font-family: DroidKofi;
  src: url(../assets/fonts/DroidKufi.ttf);
}

@font-face {
  font-family: NotoSans;
  src: url(../assets/fonts/NotoSans.ttf);
}

.all {
  font-family: Cairo;
}

.main-title {
  font-size: 28px;
  color: #16507b;
}

#card {
  background-color: black;
  height: 0px;
}

.tajawal {
  font-family: DroidKofi;
  line-height: 1.4em;
}

.tahoma {
  font-family: NotoSans;
}

.cover-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}


.the-mark
{
    width: 50px;
    height: 50px;
    background-color: white;
    border-bottom-left-radius: 20px;
    position: absolute;
    color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold       ;
}

.avatar
{
    display: flex;
    margin: 1px;
    width: 30px;
    background-color: gray;
    color: white;
    padding: 4px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 13px;
}